body {
    color: white;
    background: black;
margin: 0px  ;
font-family: "Dancing Script", cursive;
margin-bottom: 100px;
}

header{
  border-bottom: solid 2px rgb(42, 122, 288);
padding:20px;
font-size: 32px;
color: rgb(42, 122, 228);   
}

.chamada{
    background: rgb(15, 9, 148);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}
img{
height:200px
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap:20px;
}
    

.categoria{  
    padding-left: 20px;
    padding-right: 20px;
margin-top: 50px;
}
.categoria-videos img{
opacity: 0.5;
}


.categoria-videos img:hover{
opacity:1.0;
border: 1px solid green;
} 

.categoria h2 {
    color:rgb(42, 122, 228)
}